.colS {
    width: 60px!important;
    
}
.colM {
    width: 20%!important;
}

.colL {
    width: 50%!important;
}
td {
    vertical-align:top!important;
}

.menu-right {
    margin-left: auto!important;
}

.text-regular {
    font-size: 16px;
    font-weight: 400 !important;
}
.sidenav-m3[dir=rtl] a {
    padding-left: 1rem;
    padding-right: 1rem;
}
