/* Custom colum widths for Metro tables */
.colS {
    width: 60px!important; 
}
.colM {
    width: 20%!important;
}

.colL {
    width: 50%!important;
}
td {
    vertical-align:top!important;
}
/* Align Login/Logout/Register/Userprofile right */
.menu-right {
    margin-left: auto!important;
}
/* .sidenav-m3[dir=rtl] a {
    padding-left: 1rem;
    padding-right: 1rem;
} */

/* override */
.text-regular {
    font-size: 16px;
    font-weight: 400 !important;
}






