{% extends "layout.html" %}
{% block main %}

    <div>
        <form action="/add-questions" method="post">
            {% include "modules/topic-selector.html" %}
            <!-- <select name="topic" id="topic">
                <option value="">Please Select</option>
                {% for r in rows_topics %}
                    <option name="{{ r.t_id }}" value="{{ r.t_id }}">{{ r.topic }}</option>
                {% endfor %}
            </select> -->
            <input name="new-topic" type="text" placeholder="New topic">
            <!-- <select name="subtopic" id="subtopic">
                <option value="">Please Select</option>
            </select> -->
            <input name="new-subtopic" type="text" placeholder="New subtopic">
            <textarea name="question" placeholeder="Question">
                
            </textarea>
            <label for="question">Your question</label>
            <input type="number" min="0" max="5" placeholder="difficulty">
            <label for="difficulty">Difficulty (optional)</label>
            <input type="checkbox" name="isMultipleChoice" value="1">
            <label for="isMultipleChoice">Multiple Choice</label>

            <button type="submit">Submit</button>
        </form>
        {% include "modules/selector-script.html" %}
        

    </div>
    </form>
    <!-- externes js -->
    <!-- <script>
        let topic = document.querySelector('#topic');
        topic.addEventListener('change', async function() {
            let res = await fetch('/get-subtopics?t_id=' + topic.value);
            let subtopics = await res.json();
            let html = '<option value="">Please Select</option>';
            for (s of subtopics) {
                html += '<option value="' + s.s_id + '">' + s.subtopic + '</option>'
            }
            document.querySelector('#subtopic').innerHTML = html;
        });

    </script> -->
{% endblock %}