{% extends "layout.html" %}
{% block main %}

    <div>
        <form action="/add-questions" method="post" onchange="getQuestions();">
            <select name="topic" id="topic">
                <option value="">Please Select</option>
                {% for r in rows_topics %}
                    <option name="{{ r.t_id }}" value="{{ r.t_id }}">{{ r.topic }}</option>
                {% endfor %}
            </select>
            <input name="new-topic" type="text" placeholder="New topic">
            <select name="subtopic" id="subtopic">
                <option value="">Please Select</option>
            </select>
            <input name="new-subtopic" type="text" placeholder="New subtopic">
            <button type="submit">Submit</button>  
        </form>
        
        <p id="table">
    </div>
    </form>
    <!-- externes js -->
    <script>
        let topic = document.querySelector('#topic');
        topic.addEventListener('change', async function() {
            let res = await fetch('/get-subtopics?t_id=' + topic.value);
            let subtopics = await res.json();
            let html = '<option value="">Please Select</option>';
            for (s of subtopics) {
                html += '<option value="' + s.s_id + '">' + s.subtopic + '</option>'
            }
            document.querySelector('#subtopic').innerHTML = html;
        });

        function getQuestions() {
                        subtopic = document.querySelector('#subtopic').value;
            console.log(topic, subtopic);
            if (subtopic == '') {
                return;
            }
            var req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    document.querySelector('#table').innerHTML = req.responseText;
                }
            };
            req.open('GET', '/get-questions?s_id='+ subtopic, true);
            req.send();
        }
    </script>
{% endblock %}