{% extends "layout.html" %}
{% block header %}
    <h1>
        Add Questions
    </h1>
{% endblock %}
{% block main %}

    <div class="w-75">
        <!--- Add new topics or subtopics -->
        <form action="/add-questions" method="post">
            {% include "modules/topic-selector.html" %}
            <div class="row">
                <div class="cell-md-third">
                    <label>Create new topic</label>
                    <input name="new-topic" type="text" placeholder="New topic" data-role="input">
                    <small>Press [Enter] to send.</small>
                </div>
                <div class="cell-md-third">
                    <label>Create new topic</label>
                    <input name="new-subtopic" type="text" placeholder="Requires selected topic" data-role="input">
                    <small>Press [Enter] to send.</small>
                </div>

            </div>
            <div class="form-group">
                <label>Question</label>
                <textarea name="question" placeholeder="Question" data-role="textarea"></textarea>
                <small>Markdown supported for <strong>__bold__</strong>, <em>_italics_</em> and <code>`code`.</code> </small>
                <p></p>
                <label>Multiple Choice</label>
                <input type="checkbox" name="isMultipleChoice" value="1">

            </div>

            <button type="submit" class="button primary mt-5">Submit</button>
        </form>
        <form>

        </form>

        {% include "modules/selector-script.html" %}
        

    </div>
    </form>
    <script>

    </script>
{% endblock %}