{% extends "layout.html" %}
{% block header %}
    <h1>
        Edit Questions
    </h1>
{% endblock %}
{% block main %}

{% include "modules/topic-selector.html" %}

{% include "modules/selector-script.html" %}
<!-- externes js -->
    <p id="table"></p>
    <script>
        let selector = document.querySelector("#topic-selector");
        selector.addEventListener('change', function(){
            let t_id = document.querySelector('#topic').value;
            let s_id = document.querySelector('#subtopic').value;
            if (subtopics_loaded == false) {
                s_id = '';
            }
            // if (t_id == '') {
            //     return;
            // }
            var req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    document.querySelector('#table').innerHTML = req.responseText;
                }
            };
            req.open('GET', '/get-questions?t_id='+ t_id +'&s_id=' + s_id, true);
            req.send();
        });

    </script>
{% endblock %}