{% extends "layout.html" %}
{% block header %}
    <h1>
        Edit Questions
    </h1>
{% endblock %}
{% block main %}

{% include "modules/topic-selector.html" %}

{% include "modules/selector-script.html" %}
<!-- externes js -->
    <p id="table"></p>
    <script>
        let selector = document.querySelector("#topic-selector");
        selector.addEventListener('change', function(){
            getQuestions();
        });

        function getQuestions(){
            let t_id = document.querySelector('#topic').value;
            let s_id = document.querySelector('#subtopic').value;
            if (subtopics_loaded == false) {
                s_id = '';
            }
            var req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    document.querySelector('#table').innerHTML = req.responseText;
                }
            };
            req.open('GET', '/get-questions?t_id='+ t_id +'&s_id=' + s_id, true);
            req.send();
        };

        async function deleteQuestion(event) {
            let del = event.currentTarget.value;
            let req = await fetch('/edit-questions?delete=' + del);
            let res = await req.json();
            Metro.notify.create("Success",`Deleted ${res["questions"]} questions and ${res["answers"]} answers.`,{cls: 'success'});
            getQuestions();
        };

        function editQuestion(event) {
            // prevent multiple call for update
            if (typeof(editable) !== 'undefined') {
                    Metro.notify.create('Error','You can only edit one question at a time. Press ENTER to submit first.',{ cls: 'alert'})
                    return;
                }
            editable = true;
            let edit = event.currentTarget.value;
            let question = document.querySelector(`#q${edit}`);
            let multiple = document.querySelector(`#m${edit}`);
            if (question.children[0] == undefined) {
                question.appendChild(document.createElement("p"));
            }
            let questionOld = question.children[0].innerHTML;
            let multipleOld = multiple.innerHTML;
            let htmlM = `
                    <form onsubmit="updateMultiple(${edit}, event); return false;">
                        <input name="new_multiple" type="number" class="input-small"data-role="input" data-clear-button="false"  value="${multipleOld}">
                    </form>`;
            let htmlQ = `
                    <form onsubmit="updateQuestion(${edit}, event); return false;">
                        <input name="new_question" type="text" data-role="input" data-prepend="Update" value="${questionOld}">
                    </form>`;

            question.innerHTML = htmlQ;
            multiple.innerHTML = htmlM;
            
        };

        async function updateQuestion(q_id, event){
            
            let question = event.srcElement[0].value;
            event.preventDefault();
            console.log(question)
            let req = await fetch('/edit-questions?update=' + q_id +"&question=" + question);
            let res = await req.json();
            Metro.notify.create("Success",`Updated ${res["changes()"]} question.`,{cls: 'success'});
            getQuestions();
            editable = undefined;
        };
        async function updateMultiple(q_id, event){
            
            let multiple = event.srcElement[0].value;
            event.preventDefault();
            console.log(multiple)
            let req = await fetch('/edit-questions?update=' + q_id +"&multiple=" + multiple);
            let res = await req.json();
            Metro.notify.create("Success",`Updated ${res["changes()"]} question.`,{cls: 'success'});
            getQuestions();
            editable = undefined;
        };

    </script>
{% endblock %}