{% extends "layout.html" %}
{% block header %}
    <h1>
        Edit Questions
    </h1>
{% endblock %}
{% block main %}

{% include "modules/topic-selector.html" %}

{% include "modules/selector-script.html" %}
<!-- externes js -->
    <p id="table"></p>
    <script>
        let selector = document.querySelector("#topic-selector");
        selector.addEventListener('change', function(){
            getQuestions();
        });

        function getQuestions(){
            let t_id = document.querySelector('#topic').value;
            let s_id = document.querySelector('#subtopic').value;
            if (subtopics_loaded == false) {
                s_id = '';
            }
            var req = new XMLHttpRequest();
            req.onreadystatechange = function() {
                if (req.readyState == 4 && req.status == 200) {
                    document.querySelector('#table').innerHTML = req.responseText;
                }
            };
            req.open('GET', '/get-questions?t_id='+ t_id +'&s_id=' + s_id, true);
            req.send();
        };

        async function deleteQuestion(event) {
            let del = event.currentTarget.value;
            let req = await fetch('/edit-questions?delete=' + del);
            let res = await req.json();
            Metro.notify.create("Success",`Deleted ${res["questions"]} questions and ${res["answers"]} answers.`,{cls: 'success'});
            getQuestions();
        };

        function editQuestion(event) {
            // prevent multiple call for update
            if (typeof(editable) !== 'undefined') {
                    Metro.notify.create('Error','You can only edit one question at a time. Press ENTER to submit first.',{ cls: 'alert'})
                    return;
                }
            editable = true;
            let edit = event.currentTarget.value;
            let question = document.querySelector(`#q${edit}`);
            let multiple = document.querySelector(`#m${edit}`);
            if (question.children[0] == undefined) {
                question.appendChild(document.createElement("p"));
            }
            let questionOld = question.children[0].innerHTML;
            let multipleOld = multiple.innerHTML;
            let htmlM = `
                    <form onsubmit="updateMultiple(${edit}, event); return false;">
                        <input name="new_multiple" type="number" class="input-small"data-role="input" data-clear-button="false"  value="${multipleOld}">
                    </form>`;
            let htmlQ = `
                    <form onsubmit="updateQuestion(${edit}, event); return false;">
                        <input name="new_question" type="text" data-role="input" data-prepend="Update" value="${questionOld}">
                    </form>`;

            question.innerHTML = htmlQ;
            multiple.innerHTML = htmlM;
            
        };

        async function sendUpdate(q_id, event){
            console.log(event)
            let question = event.srcElement[0].value;
            let multiple = event.srcElement[2].value;
            console.log('q:',question, 'm:', multiple);
            event.preventDefault();
            let req = await fetch('/edit-questions?update=' + q_id +"&question=" + question + "&multiple=" + multiple);
            let res = await req.json();
            Metro.notify.create("Success",`Updated ${res["changes()"]} question.`,{cls: 'success'});
            getQuestions();
            editable = undefined;
        };

        function update(id) {
            // prevent multiple call for update
            if (typeof(editable) !== 'undefined') {
                    Metro.notify.create('Error','You can only edit one question at a time. Press ENTER to submit first.',{ cls: 'alert'})
                    return;
            }
            editable = true;
            
            setTimeout(function(){
                let tr = document.querySelector(`#q${id}`).parentElement.parentElement;
                let td = tr.getElementsByTagName('td')
                
                if (td[4].querySelector('p') == undefined) {
                    td[4].querySelector('div').appendChild(document.createElement("p"));
                }
                let question = td[4].querySelector('p').innerHTML;
                let multiple = parseInt(td[5].querySelector('div').innerHTML);
                
                let checked = '';
                if (multiple == 1) {
                    checked = 'checked';
                } else {
                    multiple = 0;
                }

                let html = `
                <td>${td[2].innerHTML}</td>
                <td>${td[3].innerHTML}</td>
                <td colspan="2">
                    <form onsubmit="sendUpdate(${id}, event);return false;">

                        <label>Question</label>
                        <input name="question" value="${question}" type="text" data-role="input" >
                        <label>Multiple Choice</label>
                        <select name="multiple" data-role="select" class="input-small w-25" data-filter="false">
                            <option value=0>No</option>
                            <option value=1>Yes</option>
                        </select>
                    <button class="button">Update</button>

                    </form>
                </td>
                <td>${td[6].innerHTML}</td>`
                tr.innerHTML = html;
            }, 500);
        };
        function delay(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

    </script>
{% endblock %}