<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/bootstrap5.3.3.css" rel="stylesheet">
    <script src="/static/bootstrap.bundle5.3.3.js"></script>
</head>
<body>
    <nav>
        
    </nav>
    <header>
        
        {% for message in get_flashed_messages() %}
        
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>Success!</strong> {{ message }}
          </div>
            {%endfor%}
        
        
    </header>
    <main>
        
        {% block main %}
        
        {% endblock %}

    </main>
    <footer>

    </footer>
    
</body>
</html>