{% extends "layout.html" %}
{% block header %}
<h1>
    Login
</h1>
{% endblock %}
{% block main %}

<div class="mt-20 w-75 ml-auto mr-auto">
    <form action="/login" method="post">
        <input name="username" placeholder="Username" type="text" autofocus data-role="input" class="w-50"
            data-prepend="Username">
        <input name="password" placeholder="Password" type="password" autofocus data-role="input" class="w-50"
            data-prepend="Password">
        <button type="submit" class="button success mt-5">Log in</button>
    </form>
</div>
{% endblock %}