{% extends "layout.html" %}
{% block header %}
    <h1 class="mt-20 w-75 ml-auto mr-auto">
        Login
    </h1>
{% endblock %}
{% block main %}

    <div class="mt-20 w-75 ml-auto mr-auto">
        <form action="/login" method="post">
            <input class="w-50" name="username" placeholder="Username" type="text" autofocus autocomplete="off" data-role="input" data-prepend="Username">
            <input name="password" placeholder="Password" type="password" autocomplete="off" data-role="input" class="w-50" data-prepend="Password">
            <button type="submit" class="button success mt-5">Log in</button>
        </form>
    </div>
{% endblock %}
