{% extends "layout.html" %}
{% block header %}
<h1>
    Profile
</h1>

{% endblock %}
{% block main %}
{% set c = namespace(counter=0) %}
{% set col = ['lime','emerald','cyan','cobalt','indigo','crimson','orange','olive','steel','terracotta','coral'] %}
<!-- Side-Navigation -->
<ul  class="sidenav-simple sidenav-simple-expand-xxl float-right z-1" style="position: sticky;top: 40px; right: 0px;  overflow: hidden;">
    <li><a href="#stats">
        <span class="mif-chart-dots icon"data-role="hint" data-hint-position="left" data-cls-hint="bg-grayWhite drop-shadow"
        data-hint-text="Your stats"></span>
        <span class="title">Your stats</span></a></li>
    <li><a href="#reset">
        <span class="mif-undo icon"data-role="hint" data-hint-position="left" data-cls-hint="bg-grayWhite drop-shadow"
        data-hint-text="Reset stats"></span>
        <span class="title">Reset stats</span></a></li>
    <li><a href="#tests">
        <span class="mif-bookmarks icon"data-role="hint" data-hint-position="left" data-cls-hint="bg-grayWhite drop-shadow"
        data-hint-text="Saved tests"></span>
        <span class="title">Saved tests</span></a></li>
    <li><a href="#changePW">
        <span class="mif-security icon"data-role="hint" data-hint-position="left" data-cls-hint="bg-grayWhite drop-shadow"
        data-hint-text="Change password"></span>
        <span class="title">Change password</span></a></li>
    <li><a href="#delete">
        <span class="mif-bin icon"data-role="hint" data-hint-position="left" data-cls-hint="bg-grayWhite drop-shadow"
        data-hint-text="Delete account"></span>
        <span class="title">Delete account</span></a></li>
</ul>


<div class="w-75 ml-auto mr-auto">
    <section id="stats" >
        <h3>
            Your stats
        </h3>
            {% if stats[0]["times"] %}
                You answered {{ stats[0]["times"]}} questions out of {{ stats[0]["topics"]}} topics and {{ stats[0]["subtopics"]}} subtopics with an accuracy of {{ (stats[0]["accuracy"] * 100) | round(1) }} &percnt;.
            {% else %}
                You have no stats yet. Make some test first.
            {% endif %}
        <!-- TOP 3 anders
        <h4>
            Your Top {{ stats[1] | length }}
        </h4>

        <table class="table" data-role="table" data-rownum="true" data-show-search="false" data-show-rows-steps="false" data-show-table-info="false" data-show-pagination="false">
            <thead>
                <tr>
                    <th data-cls-column="bg-grayWhite">Topic</th>
                    <th data-cls-column="bg-grayWhite">Times</th>
                    <th>Topic</th>
                    <th>Accuracy</th>
                    <th data-cls-column="bg-grayWhite">Subtopic</th>
                    <th data-cls-column="bg-grayWhite">Times</th>
                    <th>Subtopic</th>
                    <th>Accuracy</th>
                </tr>
            </thead>
            <tbody>
                {% if not stats[1][0] %}
                    
                {% else %}
                {% for r in stats[1] %}
                <tr>
                    <td>{{ r["mostTopic"] }}</td>
                    <td>{{ r["mostTopicCount"] }}</td>
                    <td>{{r["bestTopic"] }}</td>
                    <td>{{ r["bestTopicAccuracy"] | round(2) }}  &percnt;</td>
                    <td>{{ r["mostSubtopic"] }}</td>
                    <td>{{ r["mostSubtopicCount"] }}</td>
                    <td>{{r["bestSubtopic"] }}</td>
                    <td>{{ r["bestSubtopicAccuracy"] | round(2) }}  &percnt;</td>
                </tr>
                {% endfor %}
                {% endif %}
                

            </tbody>
        </table>
    -->
        <h4>
            Stats by topic
        </h4>
        <div class="w-75">
            <table class="table row-hover" data-role="table" data-rownum="false"  data-sortable="true">
                <thead>
                    <tr>
                        <th data-sortable="true" class="colL" data-sort-dir="asc">Topic</th>
                        <th data-sortable="true" class="colS">Questions</th>
                        <th data-sortable="true" class="colS">Attempts</th>
                        <th data-sortable="true" class="colS">Score</th>
                        <th data-sortable="true" class="colS">Other users</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in stats[2] %}
                    {% set m = namespace(col='') %}
                    {% set o = namespace(col='') %}
                    {% if (r["others"]) and (r["accuracy"] < r["others"]) %}
                        {% set m.col = 'red' %}
                        {% set o.col = 'green' %}
                    {% elif (r["others"]) and (r["accuracy"] > r["others"]) %}
                        {% set m.col = 'green' %}
                        {% set o.col = 'red' %}
                    {% endif %}
                    <tr>

                        <td><a href="#" onclick="getDetails('{{ r.t_id }}');"style="color: black; text-decoration: none;">{{ r["topic"] }}</a></td>
                        <td>{{ r["questions"] }}</td>
                        <td>{{ r["attempts"] }}</td>
                        <td><span class="fg-{{ m.col }}">{{ (r["accuracy"] * 100) |round(1) }} &percnt;</span></td>
                        <td>{%if r["others"] %}
                            <span class="fg-{{ o.col }}">{{ (r["others"] * 100) | round(1) }} &percnt;</span>
                            {% else %} N/A
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Details -->
        <h4 id="details">
            Details
        </h4>
        <div class="w-75">
            <table class="table row-hover" data-role="table" data-rownum="false"  data-sortable="true">
                <thead>
                    <tr>
                        <th data-sortable="true" class="colL" data-sort-dir="asc">Subtopic</th>
                        <th data-sortable="true" class="colS">Questions</th>
                        <th data-sortable="true" class="colS">Attempts</th>
                        <th data-sortable="true" class="colS">Score</th>
                        <th data-sortable="true" class="colS">Other users</th>
                    </tr>
                </thead>
                <tbody id="subtopics">

                </tbody>
            </table>
        </div>
            
        
        <form action="/profile" method="post">
            <button class="button alert" type="submit" name="deleteStats" value="{{ session['user_id'] }}">Reset your stats</button>
        </form>

    </section>

    <section id="tests">
        <hr class="mt-10"> 
        <h3>
            Your saved tests
        </h3>
        {% if not tests %}
            You have not saved a test yet.
        {% else %}
        <div class="tiles-grid tiles-group size-6">
            {% for t in tests %}
            {% set c.counter = c.counter + 1 %}
                <div data-role="tile" data-size="wide" class="bg-{{ col[ range(col|length) | random ]}}">
                    <div class="ml-2">
                        Test {{ c.counter }} 
                        <h4>{{ t.test_name}}</h4>
                    </div>
                        <span class="branding-bar">
                            <button id="{{ t.ut_id}}" value="{{ t.ut_id }}" class="button success" type="button" onclick="loadTest(event);return false;">Start again</button>
                            <button id="d{{ t.ut_id}}" value="{{ t.ut_id }}" class="button alert" type="button" onclick="deleteTest(event); return false;">Delete</button></span>
                </div>
            {% endfor %}
        </div>
        {% endif %}



    </section>
    <hr class="mt-10"> 
    <section  id="changePW" >
        <h3>
            Change password
        </h3>
        <form action="/change-password"   method="post" data-role="validator" class="w-75" >
            <div class="form-group">
                <input type="password" name="old-pw" id="old-pw" placeholder="Current password" autocomplete="off"  autofocus
                data-role="input" data-prepend="Current password">
                
            </div>
            <div class="form-group">
                
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"
                data-validate=" required pattern=(?=.*\d)(?=.*[@#$%^&+=])(?=.*[a-z])(?=.*[A-Z]).{8,}"  
                data-role="input" data-prepend="Password" data-append="">
                <small id= "passwordInfo" class="fg-darkGrey">Must have 8+ characters (Upper-/lowercase), digits and symbols ( @ # $ % ^ & + =). </small>
            </div>
            <div class="form-group">
                <input type="password" name="confirm" id="confirm" placeholder="Confirm your password" autocomplete="off" 
                data-validate="required compare=password" data-role="input" data-prepend="Confirm" data-append="">
                <small id= "confirmInfo" class="fg-darkGrey">&nbsp;</small>
            </div>
            <div class="form-group">
                <button type="submit" class="button success" >Change password</button>
                <input type="reset" class="button" value="Reset">
    
            </div>
    
        </form>
    </section>
    <hr class="mt-10">
    <section id="delete" class="mt-5">
        <h3 >
            Delete Account
        </h3>
        <form action="/delete-account" method="post" class="w-75">
            <input type="password" data-role="input" name="password" placeholder="Confirm with your password" data-prepend="Password">
            <button class="button alert mt-5" type="submit">Delete account</button>
            <input type="reset" class="button mt-5" value="Reset">

        </form>
    </section>
        
</div>

<script src="./static/pwConfirmMatch.js" type="text/javascript"></script>
<script src="./static/profile.js" type="text/javascript"></script>
<script>
    function getDetails(t_id){
        console.log(t_id);
        var req = new XMLHttpRequest();
        req.onreadystatechange = function() {
            if (req.readyState == 4 && req.status == 200) {
                document.querySelector('#subtopics').innerHTML = req.responseText;
            }
        };
        req.open('GET', '/profile?t_id='+ t_id, true);
        req.send();
};
</script>


{% endblock %}