{% extends "layout.html" %}
{% block header %}
<h1>
    Profile
</h1>
{% endblock %}
{% block main %}
{% set c = namespace(counter=0) %}
{% set col = ['lime','emerald','cyan','cobalt','indigo','crimson','orange','olive','steel','terracotta','coral'] %}
<ul class="sidenav-m3 float-right z-2" dir="rtl" style="position: sticky;top: 30px; right: 0px; width: 170px; overflow: hidden;">
    <li class="title">Options</li>
    <li><a href="#stats">Your stats</a></li>
    <li><a href="#reset">Reset stats</a></li>
    <li><a href="#tests">Saved tests</a></li>
    <li><a href="#changePW">Change password</a></li>
    <li><a href="#delete" class="bg-red fg-white">Delete account</a></li>
</ul>


<div class="w-75 ml-auto mr-auto">
    <section id="stats" >
        <h3>
            Your stats
        </h3>
            {% if stats[0]["times"] %}
                You answered {{ stats[0]["times"]}} questions out of {{ stats[0]["topics"]}} topics and {{ stats[0]["subtopics"]}} subtopics with an accuracy of {{ stats[0]["accuracy"] | round(2) }}.
            {% else %}
                You have no stats yet. Make some test first.
            {% endif %}
        <h4>
            Your Top {{ stats[1] | length }}
        </h4>

        <table class="table" data-role="table" data-rownum="true" data-show-search="false" data-show-rows-steps="false" data-show-table-info="false" data-show-pagination="false">
            <thead>
                <tr>
                    <th data-cls-column="bg-grayWhite">Topic</th>
                    <th data-cls-column="bg-grayWhite">Times</th>
                    <th>Topic</th>
                    <th>Accuracy</th>
                    <th data-cls-column="bg-grayWhite">Subtopic</th>
                    <th data-cls-column="bg-grayWhite">Times</th>
                    <th>Subtopic</th>
                    <th>Accuracy</th>
                </tr>
            </thead>
            <tbody>
                {% if not stats[1][0] %}
                    
                {% else %}
                {% for r in stats[1] %}
                <tr>
                    <td>{{ r["mostTopic"] }}</td>
                    <td>{{ r["mostTopicCount"] }}</td>
                    <td>{{r["bestTopic"] }}</td>
                    <td>{{ r["bestTopicAccuracy"] | round(2) }}  &percnt;</td>
                    <td>{{ r["mostSubtopic"] }}</td>
                    <td>{{ r["mostSubtopicCount"] }}</td>
                    <td>{{r["bestSubtopic"] }}</td>
                    <td>{{ r["bestSubtopicAccuracy"] | round(2) }}  &percnt;</td>
                </tr>
                {% endfor %}
                {% endif %}
                

            </tbody>
        </table>
        <h4>
            Comparison
        </h4>
        <table class="table" data-role="table" data-rownum="true" data-show-search="false" data-show-rows-steps="false" data-show-table-info="false" data-show-pagination="false">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Your accuracy</th>
                    <th>Other users</th>
                </tr>
            </thead>
            <tbody>
                {% for r in stats[2] %}
                {% set m = namespace(col='') %}
                {% set o = namespace(col='') %}
                {% if (r["others"]) and (r["mystats"] < r["others"]) %}
                    {% set m.col = 'red' %}
                    {% set o.col = 'green' %}
                {% elif (r["others"]) and (r["mystats"] > r["others"]) %}
                    {% set m.col = 'green' %}
                    {% set o.col = 'red' %}
                {% endif %}
                <tr>

                    <td>{{ r["topic"] }}</td>
                    <td><span class="fg-{{ m.col }}">{{ r["mystats"] | round(2) }} &percnt;</span></td>
                    <td>{%if r["others"] %}
                        <span class="fg-{{ o.col }}">{{ r["others"] | round(2) }} &percnt;</span>
                        {% else %} N/A
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="/profile" method="post">
            <button class="button alert" type="submit" name="deleteStats" value="{{ session['user_id'] }}">Reset your stats</button>
        </form>

    </section>

    <section id="tests">
        <hr class="mt-10"> 
        <h3>
            Your saved tests
        </h3>
        {% if not tests %}
            You have not saved a test yet.
        {% else %}
        <div class="tiles-grid tiles-group size-6">
            {% for t in tests %}
            {% set c.counter = c.counter + 1 %}
                <div data-role="tile" data-size="wide" class="bg-{{ col[ range(col|length) | random ]}}">
                    <div class="ml-2">
                        Test {{ c.counter }} 
                        <h4>{{ t.test_name}}</h4>
                    </div>
                        <span class="branding-bar">
                            <button id="{{ t.ut_id}}" value="{{ t.ut_id }}" class="button success" type="button" onclick="loadTest(event);return false;">Start again</button>
                            <button id="d{{ t.ut_id}}" value="{{ t.ut_id }}" class="button alert" type="button" onclick="deleteTest(event); return false;">Delete</button></span>
                </div>
            {% endfor %}
        </div>
        {% endif %}



    </section>
    <hr class="mt-10"> 
    <section  id="changePW" >
        <h3>
            Change password
        </h3>
        <form action="/change-password"   method="post" data-role="validator" class="w-75" >
            <div class="form-group">
                <input type="password" name="old-pw" id="old-pw" placeholder="Current password" autocomplete="off"  autofocus
                data-role="input" data-prepend="Current password">
                
            </div>
            <div class="form-group">
                
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off"
                data-validate=" required pattern=(?=.*\d)(?=.*[@#$%^&+=])(?=.*[a-z])(?=.*[A-Z]).{8,}"  
                data-role="input" data-prepend="Password" data-append="">
                <small id= "passwordInfo" class="fg-darkGrey">Must have 8+ characters (Upper-/lowercase), digits and symbols ( @ # $ % ^ & + =). </small>
            </div>
            <div class="form-group">
                <input type="password" name="confirm" id="confirm" placeholder="Confirm your password" autocomplete="off" 
                data-validate="required compare=password" data-role="input" data-prepend="Confirm" data-append="">
                <small id= "confirmInfo" class="fg-darkGrey">&nbsp;</small>
            </div>
            <div class="form-group">
                <button type="submit" class="button success" >Change password</button>
                <input type="reset" class="button" value="Reset">
    
            </div>
    
        </form>
    </section>
    <hr class="mt-10">
    <section id="delete" class="mt-5">
        <h3 >
            Delete Account
        </h3>
        <form action="/delete-account" method="post" class="w-75">
            <input type="password" data-role="input" name="password" placeholder="Confirm with your password" data-prepend="Password">
            <button class="button alert mt-5" type="submit">Delete account</button>
            <input type="reset" class="button mt-5" value="Reset">

        </form>
    </section>
        
</div>

<script src="./static/pwConfirmMatch.js" type="text/javascript"></script>
<script>
    function loadTest(event) {
        test = event.srcElement.value;
        window.location.href = `./make-test?test=${test}`;
    };
    async function deleteTest(event) {
        test = event.srcElement;
        let req = await fetch("/delete-test?ut_id=" + test.value)
        let res = await req.json()
        if (res['success']) {
            test.parentElement.parentElement.remove();
            Metro.notify.create('Success',res['success'],{ cls: 'success'} );
        } else {
            Metro.notify.create('Success',res['error'],{ cls: 'alert'});
        }
    }

</script>

{% endblock %}