{% include "./modules/head.html" %}
{% block main %}
<table class="table" data-show-search="false" data-cell-wrapper="true" data-rows="10" rownum="true" data-role="table" width="80%" style="table-layout: fixed!important;">
    <thead>
        <tr>
            <th class="sortable-column colM" data-sort-dir="asc">Topic</th>
            <th class="sortable-column colM">Subtopic</th>
            <th class="sortable-column colL">Question</th>
            <th class="colS">M</th>
            <th class="colM">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for q in questions %}
        <tr>
            <td class="colM">{{ q.topic }}</td>
            <td class="colM">{{ q.subtopic }}</td>
            <td class="colL"><div id="q{{ q.q_id | int }}">{{ q.question | safe }}</div></td>
            <td><div id="m{{ q.q_id | int }}">{{ q.isMultipleChoice }}</div></td>
            <td>
                <button type="button" name="edit" id="b{{ q.q_id }}" value="{{q.q_id}}" class="button success rounded" onclick="editQuestion(event);" title="Edit"><span class="mif-pencil fg-white"></span></button>
                <button type="button" name="delete" value="{{q.q_id}}" class="button alert rounded" onclick="deleteQuestion(event);" title="Delete"><span class="mif-bin fg-white"></span></button>
            </td>

        </tr>
            <!-- {% for a in answers %}
                {% if q.q_id == a.q_id %}
                    <tr>
                        <td></td>
                        <td>{% if a.is_true == 1 %} ✅ {% else %} ❌ {% endif %}</td>
                        <td>{{ a.answer | safe }}</td>
                    </tr>
                {% endif %}
            {% endfor %} -->
        {% endfor %}
    </tbody>
</table>


{% endblock %}